.row
  .col-12.col-md-10
    = form_for 'filter', url: photographer_invoices_path, method: :get do |f|
      .row
        .col-6
          .form-group
            = f.text_field :q, name: 'q', value: params[:q], placeholder: 'Search by name', class: 'form-control'
        .col-2
          = f.submit 'Search', name: nil, class: 'btn btn-outline-primary'
          = link_to 'Clear filters', photographer_invoices_path, class: 'btn btn-outline-warning'
.row
  .col-12
    = paginate @invoices, theme: 'twitter-bootstrap-4'
%div.container
  %div.row
    %div.col-lg-12
      %table.table
        %thead
          %tr
            %th{:scope => "col"} Date
            %th{:scope => "col"} Photosession
            %th{:scope => "col"} Client
            %th{:scope => "col"} Price
            %th{:scope => "col"} Status
        %tbody
          - @invoices.each do |order|
            %tr
              %th{scope: "row"}
                = order.session_day.day
                |
                = order.session_day.hour
              %td= order.photo_session.title
              %td= order.client_full_name
              %td= order.total_amount
              %td= order.aasm_state
          -#- @photo_sessions.each do |photo_session|
          -#  - photo_session.orders.decorate.each do |order|
          -#    %tr
          -#      %th{scope: "row"}
          -#        = order.session_day.day
          -#        |
          -#        = order.session_day.hour
          -#      %td= photo_session.title
          -#      %td= order.client_full_name
          -#      %td= order.total_amount
          -#      %td= order.aasm_state
.row
  .col-12
    = paginate @invoices, theme: 'twitter-bootstrap-4'