%form
  .row
    .col-6
      .form-group
        %input.form-control{ placeholder: "Search photosession" }
    .col-3
      %button.btn.btn-primary{ type: :submit } Submit
    .col-3
      = link_to 'New Photo session', new_photographer_photo_session_path
%table.table
  %thead
    %tr
      %th{:scope => "col"} Type
      %th{:scope => "col"} Name
      %th{:scope => "col"} Active shooting days
      %th{:scope => "col"} Publication date
      %th{:scope => "col"} #
  %tbody
    - @photo_sessions.each do |photo_session|
      %tr
        %th{ scope: "row"}
          = photo_session.session_type
        %td= photo_session.title
        %td= photo_session.active_session_days_count
        %td= photo_session.created_at
        %td
          = link_to 'Edit', edit_photographer_photo_session_path(photo_session)
          = link_to 'Show', [:photographer, photo_session]
          = link_to 'Destroy', [:photographer, photo_session], method: :delete, data: { confirm: 'Are you sure?' }
