.card{id: "#{@order.id}"}
  .card-header
    %span.float-left= @order.photo_session.title
    = link_to photographer_tasks_path(order_id: @order.id), data: { target: '#cardModal', toggle: 'modal' }, remote: true, class: 'btn btn-primary float-right' do
      %i.fa.fa-tasks
  .card-body
    %p Order Id: ##{@order.id}
    %p
      Date: #{@order.photo_session_day}
      %br
      Time: #{@order.photo_session_hour}
    %p#order_status.bg-light-green
      Status: #{@order.aasm_state}