%div.row.mb-3
  %div.col-12
    %h3 Tasks
    %form.form-inline
      %div.form-group
        %select.form-control
          %option.form-control Photosession name
      %div.form-group
        %input.form-control{type: :date}
%div.container.full-scroll.mt-3
  .row.text-left
    .col-sm-4
      %h6 GG
%div.container.full-scroll.mt-3
  .row.text-left.flex-nowrap
    .col-sm-3.border.mx-1.pt-2
      %h6 Upcoming Events
      .row
        .col-12
          - @user.upcoming_events.each do |event|
            = render partial: 'card', locals: { :@order => event }
    .col-sm-3.border.mx-1.pt-2
      %h6 Editing / Edited
      .row
        #editing_state.col-12
          - @user.editing_orders.each do |order|
            = render partial: 'card', locals: { :@order => order }
    .col-sm-3.border.mx-1.pt-2
      %h6 Sorting / Sorted
      .row
        #sorting_state.col-12
          - @user.sorting_orders.each do |order|
            = render partial: 'card', locals: { :@order => order }
    .col-sm-3.border.mx-1.pt-2
      %h6 Processing / Processed
      .row
        #processing_state.col-12
          - @user.processing_orders.each do |order|
            = render partial: 'card', locals: { :@order => order }
    .col-sm-3.border.mx-1.pt-2
      %h6 Sending / Sent
      .row
        #send_state.col-12
          - @user.sent_orders.each do |order|
            = render partial: 'card', locals: { :@order => order }
= render 'transition_modal'