%div.row.mb-3
  %div.col-12
    %h3 Tasks
    %form.form-inline
      %div.form-group
        %select.form-control
          %option.form-control Photosession name
      %div.form-group
        %input.form-control{type: :date}
%div.container.full-scroll.mt-3
  .row.text-left
    .col-sm-4
      %h6 GG
%div.container.full-scroll.mt-3
  .row.text-left.flex-nowrap
    .col-sm-3.border
      %h6 Upcoming Events
      .row
        .col-12
          - @user.upcoming_events.each do |event|
            .card
              .card-header
                %span.float-left= event.photo_session_title
                = link_to start_editing_photographer_tasks_path(order_id: event.id),
                          remote: true, method: :patch do
                  %span.fa.fa-tasks.float-right
              .card-body
                %p Order Id: ##{event.id}
                %p
                  Date: #{event.photo_session_day}
                  %br
                  Time: #{event.photo_session_hour}
                %p
                  Status: #{event.aasm_state}

    .col-sm-3
      %h6 Editing / Edited
      .row
        #editing_state.col-12
          - @user.editing_orders.each do |order|
            = render partial: 'card', locals: { :@order => order }
= render 'transition_modal'