#home
  .container
    .row.main-cover
      .col-lg-4.client
        = image_tag 'frontpage-photographer.jpg', class: 'rounded', height: "140"
        %h2 Client
        %p.btn.btn-outline-secondary I need a photos for my Instagram!
      .col-lg-4
        %h2.text-right
          Book a photosession
          %br
          from $49
        %br
        .text-center.start-search-photosessions
          = link_to photo_sessions_path, class: 'btn btn-lg btn-success' do
            Search photosessions
      .col-lg-4.photographer
        = image_tag 'frontpage-ivanov.jpg', class: 'rounded', height: "140"
        %h2 Photographer
        %p.btn.btn-outline-secondary How to find the Client?
  .container
    .row.how-it-works
      .col-lg-12
        %h1 How it works
      .col-lg-3
        %p We have a bunch of photographers over the world
      .col-lg-3
        %p They made a specific photosessions with predefined
        %ul
          %li locations
          %li dates
          %li starting times
          %li price
          %li photo examples
      .col-lg-3
        %p You can browse the sessions and of you'd like some of them just buy it with our website
      .col-lg-3
        %p We guarantee a safety with a payment and smooth booking operation.
      .col-lg-12
        %center
          = link_to photo_sessions_path, class: 'btn btn-outline-success' do
            %h5 Try out our search
            page here >>>

  .container
    .row.use-cases
      .col-lg-12
        %h1 User cases
      .col-md-3
        .card.mb-3.box-shadow
          = image_tag 'frontpage-instagram.jpg', class: 'card-img-top'
          .card-body
            %h5 Photos for instagram
            %p.card-text
              Use
              = link_to '#lookoftheday', photo_sessions_path
              tag while searching a session!

      .col-md-3
        .card.mb-3.box-shadow
          = image_tag 'frontpage-vacation.jpg', class: 'card-img-top'
          .card-body
            %h5 Vacation photosessions
            %p.card-text
              Use cities selector and choose a dates accordingly with your ticket with filter!
      .col-md-3
        .card.mb-3.box-shadow
          = image_tag 'frontpage-business.jpg', class: 'card-img-top'
          .card-body
            %h5 Photos for your business
            %p.card-text
              Use
              = link_to '#business', photo_sessions_path
              and
              = link_to '#portrait', photo_sessions_path
              tag together to get best results!
      .col-md-3
        .card.mb-3.box-shadow
          = image_tag 'frontpage-family.jpg', class: 'card-img-top'
          .card-body
            %h5 Family sessions
            %p.card-text
              Just find the nearest location! That's it!

.about-us
  .container
    .row
      .col-lg-12
        %h1 About us
    .row
      .col-lg-4
      .col-lg-4
        %center
          = image_tag 'frontpage-ivanov.jpg', class: 'rounded-circle', height: "240", width: "240"
          %h3 Aleksei Ivanov
          %p Photographer, founder
      .col-lg-4


.project-timeline
  .container
    .row
      .col-lg-12
        %h1 Project timeline
    .row
      .col-lg-3
      .col-lg-6
        %center
          %table.table.table-striped
            %thead
              %tr
                %th{:scope => "col"} Event
                %th{:scope => "col"} Year
                %th{:scope => "col"} Status
            %tbody
              %tr
                %td Idea
                %td May 2014
                %td
                  %input{ type: "checkbox", checked: 'checked' }
              %tr
                %td Prototyping MVP
                %td June 2014
                %td
                  %input{ type: "checkbox", checked: 'checked' }
              %tr
                %td Product testing
                %td Sep 2014
                %td
                  %input{ type: "checkbox", checked: 'checked' }
              %tr
                %td First client attracted
                %td Nov 2014
                %td
                  %input{ type: "checkbox", checked: 'checked' }
              %tr
                %td Sales growth
                %td 2015-2016
                %td
                  %input{ type: "checkbox", checked: 'checked' }
              %tr
                %td Seed stage completed MVP sold
                %td Nov 2017
                %td
                  %input{ type: "checkbox", checked: 'checked' }
              %tr
                %td Startup registration
                %td Nov 2017
                %td
                  %input{ type: "checkbox", checked: 'checked' }
              %tr
                %td Developing a platform
                %td Dec 2017
                %td
                  %input{ type: "checkbox" }
              %tr
                %td Rising funds
                %td Feb 2018
                %td
                  %input{ type: "checkbox" }
              %tr
                %td Release
                %td Apr 2018
                %td
                  %input{ type: "checkbox" }

      .col-lg-3

    .row
      .col-lg-12
        .text-center
          = link_to 'See our elevator pitch', root_path
