.container
  .py-5.text-center
    %h2 Profile Page
  .row
    .col-lg-12
      %h4.mb-3 Profile settings
      = form_for @user, url: settings_path, method: :post  do |f|
        .row
          .col-md-6.mb-3
            %label
              Name
              = f.text_field :name, class: 'form-control'
            .invalid-feedback
              Valid name is required.
        .row
          .col-md-6.mb-3
            %label
              Phone
              = f.text_field :phone, class: 'form-control'
            .invalid-feedback
              Valid phone is required.
        .row
          .col-md-6.mb-3
            %label
              Email
              = f.email_field :email, class: 'form-control', readonly: :readonly
            .invalid-feedback
              You cann't change your email address.
        = f.submit 'Save', class: 'btn btn-primary btn-lg btn-block'
  %br/
  %br/
  .row
    .col-lg-12
      %h4.mb-3 Your orders
      %table.table
        %thead.thead-dark
          %tr
            %th{:scope => "col"} Order ID, Date and Time, Quantity of the photos, Additional information
            %th{:scope => "col"} Contact with photograph
            %th{:scope => "col"} Actions
            %th{:scope => "col"} Status
        %tbody
          - @orders.each do |order|
            - photosession = order.photo_session
            %tr
              %th
                %div
                  %h5= order.photo_session.title
                  = order.id
                %div= order.created_at
                %div
                  = order.photo_count
                  photos
                %div= order.comment
              %td
                %div +48 998 883 13 13
                %div hello@bookaphotos.com
              %td
                = link_to 'Cancel', root_path, class: 'btn btn-outline-danger'
                or
                = link_to 'Postpone', root_path, class: 'btn btn-outline-primary'
              %td In progress
            %tr.border-bottom-order
              %td{ colspan: 4 }
                %h5 Instructions
                #photosession-add-information
                  - specs = ['for_whom', 'preparation', 'what_to_take', 'how_route', 'how_find']
                  %ul#myTab.nav.nav-tabs{ role: "tablist"}
                    - specs.each_with_index do |spec, index|
                      %li.nav-item
                        %a{"aria-controls" => spec, "aria-selected" => "true", "data-toggle" => "tab", :href => "##{spec}", role: "tab", class: index === 0 ? "nav-link active" : "nav-link", id: "#{spec}-tab" }= spec
                    %li.nav-item
                      %a{"aria-controls" => 'map', "aria-selected" => "true", "data-toggle" => "tab", :href => "#map", role: "tab", class: "nav-link", id: "map-tab" } Map
                  #myTabContent.tab-content
                    - specs.each_with_index do |spec, index|
                      %div{ "aria-labelledby" => "#{spec}-tab", :role => "tabpanel", class: index === 0 ? "tab-pane fade show active" : "tab-pane fade", id: spec }
                        %p= photosession[spec.to_sym]
                    %div{ "aria-labelledby" => "map-tab", :role => "tabpanel", class: "tab-pane fade", id: "map" }
                      = render_gmap_coordinate_picker api_key: 'AIzaSyAvgY2gVt4mWuyAfJbBfLTMnl_Vbsd_Ydw',  :static => 'true', :zoom_level => 10 , :default_coordinates => [photosession.lat || 10, photosession.lng || 10], map_width: '100%', autocomplete: { enable: true, class: 'form-control' }
  %footer.my-5.pt-5.text-muted.text-center.text-small
    %p.mb-1 © 2018 Bookaphotos.com
