%h1 Clients
%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Client email
      %th{:scope => "col"} Client phone
      %th{:scope => "col"} Client name
      %th{:scope => "col"} Client comment
      %th{:scope => "col"} Prohotosession
      %th{:scope => "col"} Date latest ordered
      %th{:scope => "col"} Times
  %tbody
    - @orders.each do |client, orders|
      - latest_order = orders.last.decorate
      %tr
        %th{:scope => "row"}= latest_order.id
        %td= client.email
        %td= client.phone
        %td= client.decorate.full_name
        %td= latest_order.comment
        %td= latest_order.photo_session_title
        %td
          = latest_order.created_hour
          %br
          = latest_order.created_day
        %td= orders.count
