%h1 Clients
= paginate @paginated, theme: 'twitter-bootstrap-4'
%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Client email
      %th{:scope => "col"} Client phone
      %th{:scope => "col"} Client name
      %th{:scope => "col"} Client comment
      %th{:scope => "col"} Last Pohotosession
      %th{:scope => "col"} Date latest ordered
      %th{:scope => "col"} Times
  %tbody
    -#- @orders.map(&:client).map(&:decorate).each do |client|
    -#  %tr
    -#    %th{scope: "row"}= client.last_booking.id
    -#    %td= client.email
    -#    %td= client.phone
    -#    %td= client.full_name
    - @orders.each do |order|
      %tr
        %th{scope: "row"}= order.client_last_booking.id
        %td= order.client_email
        %td= order.client_phone
        %td= order.client_full_name
        %td= order.client_last_booking.comment
        %td= order.client_last_booking.photo_session_title
        %td
          = order.client_last_booking.created_hour
          %br
          = order.client_last_booking.created_day
        %td= order.client_total_bookings
= paginate @paginated, theme: 'twitter-bootstrap-4'

