%h1 Clients
%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Client email
      %th{:scope => "col"} Client phone
      %th{:scope => "col"} Client name
      %th{:scope => "col"} Client comment
      %th{:scope => "col"} Prohotosession
      %th{:scope => "col"} Date latest ordered
      %th{:scope => "col"} Times
  %tbody
    - @orders.each do |order|
      %tr
        %th{:scope => "row"}= order.id
        %td= order.client_email
        %td= order.client_phone
        %td= order.client_full_name
        %td= order.comment
        %td= order.photo_session_title
        %td
          = order.created_hour
          %br
          = order.created_day
        %td 0
