-#- params.delete(:action)
-#- params.delete(:controller)
-#- params.delete(:page)
-#
-#- params.permit!

= form_for 'filter', url: photo_sessions_path, method: :get do |f|
  .card
    .card-body
      .form-group
        = f.text_field :q, name: 'q', value: params[:q], placeholder: 'Search by name', class: 'form-control'
      .form-group
        %label
          %b
            Search by price ($)
        .row
          .col
            = f.number_field :min, name: 'min', value: params[:min] || @photosessions.aggregations.min_price[:value].to_i, class: 'form-control'
          .col
            = f.number_field :max, name: 'max', value: params[:max] || @photosessions.aggregations.max_price[:value].to_i, class: 'form-control'
        .slider-range-wrapper
          #slider-range{ "data-min": @photosessions.aggregations.min_price[:value].to_i, "data-max": @photosessions.aggregations.max_price[:value].to_i, "data-value": [params[:min] || @photosessions.aggregations.min_price[:value].to_i, params[:max] || @photosessions.aggregations.max_price[:value].to_i] }



      .form-check
        %label.form-check-label
          = check_box_tag 'special', '1', params[:special].present? ? true : false, class: 'form-check-input'
          Special offers only
      .form-group.filter-section.filter-popular-cities
        %label
          %b Popular cities
        %ul
          - @photosessions.aggregations.popular_cities.buckets.each do |city|
            %li
              = link_to "#{city['key']} (#{city['doc_count']})", photo_sessions_path(city: city[:key])
      .form-group.filter-section
        %label
          %b Nearest dates
        #datepicker
        = f.hidden_field :date, name: 'date', value: params[:date]
      .form-group.filter-section.filter-times
        %label
          %b Time
        %ul
          - @photosessions.aggregations.time.buckets.each do |time|
            - if time.last['doc_count'].to_i > 0
              %li= link_to "#{time.first} (#{time.last['doc_count']})", photo_sessions_path(time: time.first)


      .form-group.filter-section.filter-thematics
        %label
          %b Thematics
        %ul
          - @photosessions.aggregations.popular_themes.buckets.each do |theme|
            %li= link_to "#{theme['key']} (#{theme['doc_count']})", photo_sessions_path(theme: theme[:key])
    .card-footer.text-muted.text-right
      = link_to 'Clear filters', photo_sessions_path, class: 'btn btn-link'
      = f.submit 'Search', name: nil, class: 'btn btn-outline-success'
