.jumbotron
  .container
    %h1.display-3= @photosession.title
    %p= simple_format @photosession.description
    %p
      %span.photosession-info-price #{@photosession.currency} #{@photosession.price}
      = link_to 'Book »', '#choose-date', class: 'btn btn-primary btn-lg'
  .carousel.slide{"data-ride" => "carousel", id: "photoCarousel#{@photosession.id}"}
    %ol.carousel-indicators
      - @photosession.photos.each_with_index do |photo, index|
        %li{"data-slide-to" => photo.id, "data-target" => "#photoCarousel#{@photosession.id}", class: index === 0 ? 'active' : ''}
    .carousel-inner
      - @photosession.photos.each_with_index do |photo, index|
        %div{ class: index === 0 ? 'carousel-item active' : 'carousel-item' }
          = image_tag photo.photo(:medium), class: 'd-block w-100'
    - if @photosession.photos.size > 1
      %a.carousel-control-prev{"data-slide" => "prev", :href => "#photoCarousel#{@photosession.id}", :role => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{"data-slide" => "next", :href => "#photoCarousel#{@photosession.id}", :role => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next


#photosession-add-information
  - specs = ['for_whom', 'preparation', 'what_to_take', 'how_route', 'how_find']
  %ul#myTab.nav.nav-tabs{ role: "tablist"}
    - specs.each_with_index do |spec, index|
      %li.nav-item
        %a{"aria-controls" => spec, "aria-selected" => "true", "data-toggle" => "tab", :href => "##{spec}", role: "tab", class: index === 0 ? "nav-link active" : "nav-link", id: "#{spec}-tab" }= spec
    %li.nav-item
      %a{"aria-controls" => 'map', "aria-selected" => "true", "data-toggle" => "tab", :href => "#map", role: "tab", class: "nav-link", id: "map-tab" } Map
  #myTabContent.tab-content
    - specs.each_with_index do |spec, index|
      %div{ "aria-labelledby" => "#{spec}-tab", :role => "tabpanel", class: index === 0 ? "tab-pane fade show active" : "tab-pane fade", id: spec }
        %p= @photosession[spec.to_sym]
    %div{ "aria-labelledby" => "map-tab", :role => "tabpanel", class: "tab-pane fade", id: "map" }
      = render_gmap_coordinate_picker api_key: 'AIzaSyAvgY2gVt4mWuyAfJbBfLTMnl_Vbsd_Ydw',  :static => 'true', :zoom_level => 10 , :default_coordinates => [@photosession.lat.to_i, @photosession.lng.to_i], map_width: '100%', autocomplete: { enable: true, class: 'form-control' }


#choose-date
  .card-deck.mb-3.text-center
    .row
      - @photosession.session_days.each do |day|
        .col-xs-4
          .card.mb-4.box-shadow
            .card-header
              %h4.my-0.font-weight-normal= day.start_time.strftime("%d %B %Y %H:%M")
            .card-body
              %h1.card-title.pricing-card-title
                #{@photosession.currency} #{@photosession.price}
                %small.text-muted / #{@photosession.photos_count.to_i} photos
              = link_to 'Book', photo_session_order_path(photo_session_id: @photosession.id, session_date_id: day.id), class: 'btn btn-lg btn-block btn-outline-primary'


#photosessions-result
  .row
    - @photosessions.each do |photosession|
      .col-4.photosession-card
        .card-img
          - if photosession.covers.present?
            = image_tag photosession.covers.first.photo(:medium), class: 'card-img img-fluid'
          - else
            %img.img-fluid{ src: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22319%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20319%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1614c55a086%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1614c55a086%22%3E%3Crect%20width%3D%22319%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22118.5859375%22%20y%3D%2287.35%22%3E319x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" }
        .card-img-overlay
          %h5.card-title= link_to photosession.title, photosession
          %p.card-text
            .rating.d-inline-block
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-o
              %i.fa.fa-star-o
          %p.card-text.text-white= truncate(photosession.description, length: 128)
          %p.card-text
            .d-inline-block
              - photosession.cities.each do |city|
                %span.badge.badge-secondary
                  = city.title
              - photosession.themes.each do |theme|
                %span.badge.badge-success
                  = theme.title
          %p.card-text.text-right
            %h3.text-white
              = photosession.currency
              = photosession.price
          = link_to 'Book', photosession, class: 'btn btn-success book-btn'
