.jumbotron
  .container
    %h1.display-3= @photosession.title
    %p= @photosession.description
    %p
      %span.photosession-info-price $ #{@photosession.price}
      = link_to 'Book »', '#choose-date', class: 'btn btn-primary btn-lg'
  .carousel.slide{"data-ride" => "carousel", id: "photoCarousel#{@photosession.id}"}
    %ol.carousel-indicators
      - @photosession.photos.each_with_index do |photo, index|
        %li{"data-slide-to" => photo.id, "data-target" => "#photoCarousel#{@photosession.id}", class: index === 0 ? 'active' : ''}
    .carousel-inner
      - @photosession.photos.each_with_index do |photo, index|
        %div{ class: index === 0 ? 'carousel-item active' : 'carousel-item' }
          = image_tag photo.photo(:medium), class: 'd-block w-100'
    - if @photosession.photos.size > 1
      %a.carousel-control-prev{"data-slide" => "prev", :href => "#photoCarousel#{@photosession.id}", :role => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{"data-slide" => "next", :href => "#photoCarousel#{@photosession.id}", :role => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next





#choose-date
  .card-deck.mb-3.text-center
    - @photosession.session_days.each do |day|
      .card.mb-4.box-shadow
        .card-header
          %h4.my-0.font-weight-normal= day.when.strftime("%d %B %Y %H:%M")
        .card-body
          %h1.card-title.pricing-card-title
            $#{@photosession.price}
            %small.text-muted / #{@photosession.photos_count.to_i} photos
          %ul.list-unstyled.mt-3.mb-4
            %li #{@photosession.photos_count.to_i} photos included users included
            %li= @photosession.duration
            %li
              = @photosession.period_of_execution.to_i
              days for result
            %li Help text for map
          = link_to 'Book', photo_session_order_path(photo_session_id: @photosession.id, session_date_id: day.id), class: 'btn btn-lg btn-block btn-outline-primary'
