%li.nav-item
  = link_to photographer_path, class: 'nav-link' do
    Dashboard
  %li.nav-item
    = link_to photographer_tasks_path, class: 'nav-link' do
      Tasks
  %li.nav-item
    = link_to photographer_session_days_path, class: 'nav-link' do
      Session days
  %li.nav-item
    = link_to photographer_photo_sessions_path, class: 'nav-link' do
      Photosessions
  %li.nav-item
    = link_to photographer_locations_path, class: 'nav-link' do
      Locations
  %li.nav-item
    = link_to photographer_invoices_path, class: 'nav-link' do
      Invoices
  %li.nav-item
    = link_to photographer_clients_path, class: 'nav-link' do
      Clients
  %li.nav-item
    = @photographer.connected_dropbox