.row
  .col-12.col-md-10
    = form_for 'filter', url: photographer_session_days_path, method: :get do |f|
      .row
        .col-6
          .form-group
            = f.text_field :q, name: 'q', value: params[:q], placeholder: 'Search by name', class: 'form-control'
        .col-2
          = f.submit 'Search', name: nil, class: 'btn btn-outline-primary'
          = link_to 'Clear filters', photographer_session_days_path, class: 'btn btn-outline-warning'
        .col-2
          = link_to 'New Session Day', new_photographer_session_day_path, class: 'btn btn-info'
.row
  .col-12
    = paginate @session_days, theme: 'twitter-bootstrap-4'
%table.table
  %thead
    %tr
      %th{:scope => "col"} Session Date
      %th{:scope => "col"} Session Time
      %th{:scope => "col"} Photosession
      %th{:scope => "col"} Location
      %th{:scope => "col"} Booked appointments
      %th{:scope => "col"} Status
      %th.text-center{:scope => "col", colspan: 2} Actions
  %tbody
    - @session_days.each do |session_day|
      %tr
        %th{ scope: "row"}= session_day.day
        %td= session_day.hour
        %td= session_day.photo_session_title
        %td= session_day.location_name
        %td= session_day.booked_appointments
        = session_day.status
        %td= link_to 'Show', [:photographer, session_day], class: 'btn btn-info'
        %td= link_to 'Edit', edit_photographer_session_day_path(session_day), class: 'btn btn-primary'
.row
  .col-12
    = paginate @session_days, theme: 'twitter-bootstrap-4'
