%form
  .row
    .col-6
      .form-group
        %input.form-control{ placeholder: "Search photosession" }
    .col-3
      %button.btn.btn-primary{ type: :submit } Submit
    .col-3
      = link_to 'New Session Day', new_photographer_session_day_path
%table.table
  %thead
    %tr
      %th{:scope => "col"} Session Date
      %th{:scope => "col"} Session Time
      %th{:scope => "col"} Photosession
      %th{:scope => "col"} Location
      %th{:scope => "col"} Booked appointments
      %th{:scope => "col"} Status
      %th.text-center{:scope => "col", colspan: 2} Actions
  %tbody
    - @session_days.each do |session_day|
      %tr
        %th{ scope: "row"}= session_day.day
        %td= session_day.hour
        %td= session_day.photo_session_title
        %td= session_day.location_name
        %td= session_day.booked_appointments
        = session_day.status
        %td= link_to 'Show', [:photographer, session_day], class: 'btn btn-info'
        %td= link_to 'Edit', edit_photographer_session_day_path(session_day), class: 'btn btn-primary'
