.row
  .col-3
    = render 'profile/sidebar'
  .col-8
    %p#notice= notice

    %p
      = @location.inspect


    = link_to 'Edit', edit_profile_location_path(@location), data: { turbolinks: false }
    \|
    = link_to 'Back', profile_locations_path
