.row
  .col-3
    = render partial: 'profile/sidebar'
  .col-8
    .row
      .col-12
        .float-left
          %h1 Locations
        .float-right
          = link_to 'New location', new_profile_location_path, data: { turbolinks: false }, class: 'btn btn-success'
      .col-12
        #search-location-form
          = form_for 'search', url: profile_locations_path, method: :get do |f|
            = f.text_field 'q', value: params[:search] ? params[:search][:q] : ''
      .col-12
        #location-result
          %table.table.table-striped
            %thead
              %tr
                %th{scope: "col"} #
                %th{scope: "col"} Location name
                %th{scope: "col"} Address
            %tbody
              - @locations.each do |location|
                %tr
                  %th{ scope: "row"}= location.id
                  %td= location.name
                  %td= location.address
