%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top.flex-md-nowrap.p-0.shadow
  = link_to root_path, class: 'navbar-brand col-auto col-sm-3 col-md-2 mr-0' do
    Bookaphotos.com
  %button.navbar-toggler.d-lg-none{"aria-controls" => "navbarsNavDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsNavDefault", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarsNavDefault.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li{class: active_path(photo_sessions_path) }
        = link_to 'Photosessions', photo_sessions_path, class: 'nav-link'
      %li{ class: active_path(about_path) }
        = link_to 'About us', about_path, class: 'nav-link'
      %li{ class: active_path(portfolio_path) }
        = link_to 'Portfolio', portfolio_path, class: 'nav-link'
      %li{ class: active_path('#') }
        %a.nav-link{:href => "#"} Contacts
      - if user_signed_in?
        %li.nav-item.dropdown
          = link_to 'Personal Cabinet',
           '#',
            class: 'nav-link dropdown-toggle',
             id: 'profileDropdown',
              role: 'button',
              data: { toggle: 'dropdown' },
              aria: { haspopup: 'true', expanded: 'false' }
          .dropdown-menu{ aria: { labelledby: 'profileDropdown' } }
            = link_to 'Dashboard', profile_defined_path, class: 'dropdown-item'
            = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
          //{ class: active_path(profile_defined_path) }
      - else
        %li{ class: active_path(new_user_registration_path) }
          = link_to 'Join our team', new_user_registration_path, class: 'nav-link'
        %li
          = link_to 'Sign In', new_user_session_path, class: 'nav-link btn btn-success'
