%ul.nav.flex-column
  %li.nav-item
    = link_to profile_path, class: 'nav-link' do
      Dashboard
  %li.nav-item
    = link_to tasks_path, class: 'nav-link' do
      Tasks
  %li.nav-item
    = link_to shooting_days_path, class: 'nav-link' do
      Shooting days
  %li.nav-item
    = link_to profile_photosessions_path, class: 'nav-link' do
      Photosessions
  %li.nav-item
    = link_to profile_locations_path, class: 'nav-link' do
      Locations
  %li.nav-item
    = link_to invoices_path, class: 'nav-link' do
      Invoices
