%ul.nav.flex-column
  %li.nav-item
    = link_to profile_path, class: 'nav-link' do
      Dashboard
  %li.nav-item
    = link_to root_path, class: 'nav-link' do
      Tasks
  %li.nav-item
    = link_to root_path, class: 'nav-link' do
      Shooting days
  %li.nav-item
    = link_to profile_photo_sessions_path, class: 'nav-link' do
      Photosessions
  %li.nav-item
    = link_to profile_locations_path, class: 'nav-link' do
      Locations
  %li.nav-item
    = link_to profile_invoices_path, class: 'nav-link' do
      Invoices
