%div.sidebar-sticky
  %div.user-info
    %div.user-photo.d-inline-block
      = image_tag(current_user.avatar.url, class: 'img-fluid')
    %div.user-name.d-inline-block
      %span= current_user.email
  %ul.nav.flex-column
    %li.nav-item
      = link_to photographer_path, class: 'nav-link' do
        Dashboard
    %li.nav-item
      = link_to root_path, class: 'nav-link' do
        Tasks
    %li.nav-item
      = link_to photographer_session_days_path, class: 'nav-link' do
        Shooting days
    %li.nav-item
      = link_to photographer_photo_sessions_path, class: 'nav-link' do
        Photosessions
    %li.nav-item
      = link_to photographer_locations_path, class: 'nav-link' do
        Locations
    %li.nav-item
      = link_to photographer_invoices_path, class: 'nav-link' do
        Invoices
    %li.nav-item
      = link_to photographer_clients_path, class: 'nav-link' do
        Clients
  %div.row.justify-content-center.profile-settings
    %div.col-12.d-block.text-center.mb-2
      %i.fa.fa-bell.fa-2x
    %div.col-6.profile-icon.d-block.border-3.rounded-circle.pr-0.pl-0.text-center
      %i.fa.fa-user.fa-5x.align-middle